<div class='container'>
  <h2>Create New Action</h2>
  <%= form_for @auction do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title  %>
    </div>
    <div>
      <%= f.label :details %>
      <%= f.text_area :details  %>
    </div>
    <div>
      <%= f.label :ends_on, 'Ends On' %>
      <%= f.datetime_select :ends_on %>
    </div>
    <div>
      <%= f.label 'Reserve Price' %>
      <%= f.text_field :reserve_price %>
    </div>
    <div>
      <%= f.submit 'Save'%>
    </div>
  <% end %>
</div>
